<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %} {% endblock %}
</head>
<body>
    {% block body %} {% endblock %}

    <footer style="background-color: #000000; position: fixed; width: 100%; bottom: 0;
     height: 100px; display: flex; align-items: center; justify-content: center;">
        <div style="background-color: #000000; color: white;">
            <p>Developed by Luís Cruz / @lhckb</p>
            <a href="https://www.linkedin.com/in/lhckb">Linkedin</a>
            <a href="https://github.com/lhckb">Github</a>
        </div>
    </footer>
    
</body>
</html>