{% extends 'base.html' %}

{% block head %}

    <title>TakeNote</title>
    {% load static %}
    <script src="{% static 'js/main.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">

{% endblock %}

{% block body %}
<div class="wrapper">

    <div class="title">
    </div>

    <div class="pageTitle">
        <h1 onmouseenter="raiseAnchor()" onmouseleave="lowerAnchor()" class="headerAnchor" id="headerAnchor" onclick="redirectIndex()">TakeNote</h1>
    </div>

    <div class="logout">
        <a href="/notes/">Notes</a>
    </div>

</div>

<div class="options">
    <div class="loginWrapper">
        <h1>Login to your account</h1>
        <form action="/login/submit/index", method="POST"> {% csrf_token %}

            <input type="text" name="username" placeholder="Username">
            <br>
            <input type="password" name="password" placeholder="Password">
            <br>
            <button type="submit">Login</button>

        </form>
    </div>

    <div class="center">
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <strong><h1>{{ message }}</h1></strong>
            {% endfor %}
        </div>
        {% else %}
        <div class="welcome">
            <h1>Welcome!</h1>
        </div>
        {% endif %}

    </div>


    <div class="registerWrapper">
        <h1>Create an account</h1>
        <form action="/register/submit/index", method="POST"> {% csrf_token %}

            <input type="text" name="username" placeholder="Username">
            <br>
            <input type="password" name="password" placeholder="Password">
            <br>
            <input type="password" name="confirmPassw" placeholder="Confirm password">
            <br>
            <button type="submit">Sign Up</button>

        </form>
    </div>

</div>
{% endblock %}