body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    text-align: center;
    overflow-y: scroll;
    min-height: 100%;
    background-color: #202124;
    /*background-image: url('/static/images/notebook.png');*/
    background-size: cover;
    opacity: 95%;
    color: white;
}

body::after {
    content: '';
    display: block;
    height: 100px; /* Set same as footer's height */
}

button {
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;

}

a {
    padding: 10px;
}

a:link {
    color: #277e87;
}

a:visited {
    color: white;
}


input {
    padding: 5px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
}

textarea {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
}

.headerAnchor {
    cursor: pointer;
    border-radius: 5px;
    padding: 4px;
}

.wrapper {
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: space-evenly;
    height: 100px;
    align-items: center;
    margin-bottom: 20px;
}

.logout {
    display: flex;
    justify-content: flex-end;
    width: 33%;
    height: fit-content;
}

.title {
    display: flex;
    justify-content: flex-start;
    width: 33%;
}

.pageTitle {
    display: flex;
    justify-content: space-around;
    width: 33%;
}

.newNote {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 5px;
}

#text {
    margin-top: 5px;
}

.divider {
    background-color: black;
    height: 1.5px;
    display: flex;
    justify-content: space-around;
}

.notes {
    display: flex;
    justify-content: space-around;
    align-content: space-between;
    height: fit-content;
    flex-wrap: wrap;
}

.note {
    background-color: white;
    color: black;
    width: 400px;
    border-radius: 10px;
    box-shadow: 2px 2px black;
    padding: 10px;
    margin: 25px;
    height: fit-content;
}

.noteItems {
    cursor: pointer;
}

.actions {
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    padding: 2px;
    border-radius: 3px;
}